<head>
<link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>

<div class="pyro">
  <div class="before"></div>
  <div class="after"></div>
</div>

  <div class="icon">BATTLE APP!</div>
  Game Select

<form action="/two_player_names" method ="get">
  <button type="submit" value=Submit>2 Player</button>
</form>

<form action="/one_player_name" method ="get">
  <button type="submit" value=Submit>1 Player</button>
</form>
